/* Сброс отступов */
* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

/* Скрываем значок мобильного телефона */
#ar-prompt {
display: none;
}

/* Делаем 3D плеер на весь браузер */
model-viewer {
height: 100vh;
width: 100%;
display: block;
filter: brightness(1.1) contrast(1.05);
}

a {
    color: #cfe2ff; /* Цвет обычных ссылок */
    text-decoration: none; /* Убрать подчеркивание (опционально) */
}
a:visited {
    color: #cfa2ff; /* Цвет посещенных ссылок */
}
a:hover {
    color: #0000ff; /* Цвет при наведении курсора */
    text-decoration: underline; /* Подчеркивание при наведении */
}
a:active {
    color: #00ff00; /* Цвет активной ссылки (при нажатии) */

}

.cabin-hotspot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  background: rgba(255, 71, 87, 0.8); /* Красный цвет */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  animation: pulse 2s infinite;
}

.hotspot-label {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  70% { transform: scale(1.2); box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}


.close-model-btn {
  position: absolute; /* Относительно modal-content */
  top: 20px;
  right: 20px;
  z-index: 1000; /* Всегда поверх модели */
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  transition: background 0.3s;
}

.close-model-btn:hover {
  background: rgba(255, 71, 87, 1); /* Краснеет при наведении */
}

/* Скрываем хотспот, когда мы в кабине (добавим класс через JS) */
.inside-mode .cabin-hotspot {
  display: none;
}