/* —брос отступов */
* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}


/* ƒелаем 3D плеер на весь браузер */
model-viewer {
height: 100vh;
width: 100%;
display: block;
filter: brightness(1.1) contrast(1.05);
}

a {
    color: #cfe2ff; /* ÷вет обычных ссылок */
    text-decoration: none; /* ”брать подчеркивание (опционально) */
}
a:visited {
    color: #cfa2ff; /* ÷вет посещенных ссылок */
}
a:hover {
    color: #0000ff; /* ÷вет при наведении курсора */
    text-decoration: underline; /* ѕодчеркивание при наведении */
}
a:active {
    color: #00ff00; /* ÷вет активной ссылки (при нажатии) */

}


.hotspot-label {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.cabin-hotspot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #007bff; /* —иний цвет */
  box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
  animation: pulse-blue 2s infinite;
  cursor: pointer;
  padding: 0;
}

/* Ёффект пульсации (расшир€ющиес€ круги) */
@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}


.close-model-btn {
  position: absolute; /* ќтносительно modal-content */
  top: 20px;
  right: 20px;
  z-index: 1000; /* ¬сегда поверх модели */
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  transition: background 0.3s;
}

.close-model-btn:hover {
  background: rgba(255, 71, 87, 1); /*  раснеет при наведении */
}

/* —крываем хотспот, когда мы в кабине  */
.inside-mode .cabin-hotspot {
  display: none;
}