/* Сброс отступов */
* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

/* Скрываем значок мобильного телефона */
#ar-prompt {
display: none;
}

/* Делаем 3D плеер на весь браузер */
model-viewer {
height: 100vh;
width: 100%;
display: block;
filter: brightness(1.1) contrast(1.05);
}

a {
    color: #cfe2ff; /* Цвет обычных ссылок */
    text-decoration: none; /* Убрать подчеркивание (опционально) */
}
a:visited {
    color: #cfa2ff; /* Цвет посещенных ссылок */
}
a:hover {
    color: #0000ff; /* Цвет при наведении курсора */
    text-decoration: underline; /* Подчеркивание при наведении */
}
a:active {
    color: #00ff00; /* Цвет активной ссылки (при нажатии) */

}


